%script{:type => "text/javascript", :src  => "javascripts/polymaps.js"}
%script{:type => "text/javascript", :src  => "javascripts/jquery.min.js"}

.test{:id => 'map'}

%script{:type => "text/javascript", :src  => "javascripts/app2.js"}
